@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Out of Office Human Manager!</h1>

<AuthorizeView>
    <Authorized>
        <h4>What are we going to do with our meatbags?</h4>
        <FluentGrid>
            <FluentGridItem xs="12" sm="3">
                <a href="/employee/" class="home-card">
                    <FluentCard>
                        <FluentIcon Value="@(new Icons.Regular.Size32.PersonAdd())" />
                        <FluentLabel>
                            Create a new Employee
                        </FluentLabel>
                    </FluentCard>
                </a>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="3">
                <a href="/project/" class="home-card">
                    <FluentCard>
                        <FluentIcon Value="@(new Icons.Regular.Size32.ClipboardTextEdit())" />
                        <FluentLabel>
                            Add a new Project
                        </FluentLabel>
                    </FluentCard>
                </a>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="3">
                <a href="/request/" class="home-card">
                    <FluentCard>
                        <FluentIcon Value="@(new Icons.Regular.Size32.PersonFeedback())" />
                        <FluentLabel>
                            Make a Leave Request
                        </FluentLabel>
                    </FluentCard>
                </a>
            </FluentGridItem>
        </FluentGrid>
    </Authorized>
    <NotAuthorized>
        <h4>You are not logged in!</h4>
        <FluentGrid>
            <FluentGridItem xs="12" sm="3">
                <a href="/Account/Login" class="home-card">
                    <FluentCard>
                        <FluentIcon Value="@(new Icons.Regular.Size32.PersonArrowBack())" />
                        <FluentLabel>
                            Log In
                        </FluentLabel>
                    </FluentCard>
                </a>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="3">
                <a href="/Account/Register" class="home-card">
                    <FluentCard>
                        <FluentIcon Value="@(new Icons.Regular.Size32.PersonAdd())" />
                        <FluentLabel>
                            Register new
                        </FluentLabel>
                    </FluentCard>
                </a>
            </FluentGridItem>
            </FluentGrid>
    </NotAuthorized>
</AuthorizeView>
